<!DOCTYPE html>
<html>
	<head>
		<title>React Sokoban!</title>
		<link rel='stylesheet' type='text/css' href='/css/main.css'>
		<script src='../js/react.js'></script>
		<script src='../js/JSXTransformer.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js'></script>
		<script src='https://code.jquery.com/jquery-2.1.1.js'></script>
	</head>
	<body>
		<h1>React Sokoban</h1>
		<div>Puzzles by David Skinner</div>
		<div id='app'>Loading...</div>
	</body>
	<script type='text/jsx' src='../js/sokoban.jsx'></script>
</html>